.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: 0;
  padding-left: 1em;
  margin-right: 0;
  margin-left: auto;
}

.container-xxl h1 {
    font-size: 5em;
}
.container-xl h1 {
     font-size: 3em;
}

.h1-md {
    font-size: 1.5em;
}

body {
    background-color: #888888
}

.row.>* {
    padding-left: 0;
    padding-right: 0;
}